<!DOCTYPE html>
<html lang="zh">
<head>
    <style type="text/css">
        .button_label {
            height:21px;
            width:200px;
            display:inline-block;
        }
    </style>
<!--    <script src="{{static_url("jquery-3.3.1.min.js")}}"></script>-->
<!--    <script type="text/javascript">-->
<!--         $(document).ready(function () {-->
<!--             $("#random_select").click(function () {-->
<!--                 window.op-->
<!--             })-->
<!--         };-->
<!--    </script>-->
    <meta charset="utf-8">
    <title>抽奖系统导航</title>
</head>

<body>
<h1>抽奖系统导航</h1>
<p>你想要？</p>
<br>
<a href="/random_select" class="button_label">
    <input type="button" name="random_select_html_button" value="开始抽奖"
           style="height:60px;width:200px;display:inline-block;">
</a>
<br>
<br>
<br>
<a href="/management" class="button_label">
    <input type="button" name="management_html_button" value="管理抽奖参与人"
           style="height:60px;width:200px;display:inline-block;">
</a>
</body>
</html>